<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name ="standardLayout" value="${date:format=dd/MM/yyyy HH\:mm\:ss}¦${level:upperCase=true:padding=5}¦${message} ${exception:format=tostring}¦${all-event-properties} " />
  <variable name ="consoleLayout" value ="[${longdate}] [${uppercase:${level}}] [${logger:shortname=true}] ${message} ${exception:format=tostring}" />

  <targets>
    <target xsi:type="File"
            name="logFile"
            fileName="${specialfolder:folder=LocalApplicationData}/PokedexAPI/Pokedex-API.txt"
            archiveFileName="${specialfolder:folder=LocalApplicationData}/PokedexAPI/PokeDex-API_{#####}.txt"
            layout="${standardLayout}"
            archiveNumbering="Rolling"
            archiveEvery="Day"
            archiveAboveSize="5120000"
            concurrentWrites="false"
            keepFileOpen="false"
            maxArchiveFiles="20"/>

    <target xsi:type="ColoredConsole"
            name="logConsole"
            layout="${consoleLayout}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logFile, logConsole"/>
  </rules>
</nlog>